---

- name: "configuration play." 
  hosts: web
  user: ubuntu
  gather_facts: false
  vars:
    - ansible_python_interpreter: /usr/bin/python3
    - ansible_host_key_checking: false
    - ansible_stdout_callback: yaml

  environment:
    - TYPEORM_ENTITIES: "./modules/domain/**/*.entity{.ts,.js}"
    - TYPEORM_MIGRATIONS: "./migrations/*{.ts,.js}"
    - TYPEORM_MIGRATIONS_DIR: "./migrations" 
       
  roles:
    - deploy
